<!-- EXAMPLE FORM! -->

<form action="/schedules" method="post">
  <h3>Add Schedule</h3>
  <div>
    <label for="scheduleName">Schedule Name:</label>
    <input id="scheduleName" type="text" name="scheduleName">
  </div>
  <div>
    <label for="userName">User Name:</label>
    <input id="userName" type="text" name="userName">
  </div>
  <div>
    <input type="submit">
  </div>
</form>

<form action="/schedules/<%= @schedule.id %>/tasks" method="post">
  <h3>Add Task</h3>
  <div>
    <label for="taskName">Name:</label>
    <input id="taskName" type="text" name="taskName">
  </div>
  <div>
    <label for="taskDesc">Description:</label>
    <input id="taskDesc" type="text" name="taskDesc">
  </div>
  <div>
    <label for="taskType">Type:</label>
    <select name="taskType" id="taskType">
      <option value="School">School</option>
      <option value="Work">Work</option>
      <option value="Personal">Personal</option>
      <option value="Social">Social</option>
      <option value="Housekeeping">Housekeeping</option>
      <option value="Other" selected="selected">Other</option>
    </select>
  </div>
  <div>
    <label for="taskStart">Start Time:</label>
    <input id="taskStart" type="time" name="taskStart">
  </div>
  <div>
    <label for="taskEnd">End Time:</label>
    <input id="taskEnd" type="time" name="taskEnd">
  </div>
  <div>
    <label>Day(s)</label><br>
    <input type="hidden" name="monday" value=false>
    <input type="checkbox" name="monday" value=true>Monday <br>
    <input type="hidden" name="tuesday" value=false>
    <input type="checkbox" name="tuesday" value=true>Tuesday <br>
    <input type="hidden" name="wednesday" value=false>
    <input type="checkbox" name="wednesday" value=true>Wednesday <br>
    <input type="hidden" name="thursday" value=false>
    <input type="checkbox" name="thursday" value=true>Thursday <br>
    <input type="hidden" name="friday" value=false>
    <input type="checkbox" name="friday" value=true>Friday <br>
    <input type="hidden" name="saturday" value=false>
    <input type="checkbox" name="saturday" value=true>Saturday <br>
    <input type="hidden" name="sunday" value=false>
    <input type="checkbox" name="sunday" value=true>Sunday <br>

  </div>


  <div>
    <input type="hidden" name="scheduleId" value="<%= @schedule.id %>">
  </div>
  <div>
    <input type="submit">
  </div>

</form>







