<!-- EXAMPLE FORM! -->

<form action="/schedules" method="post">
  <h3>Add Schedule</h3>
  <div>
    <label for="scheduleName">Schedule Name:</label>
    <input id="scheduleName" type="text" name="scheduleName">
  </div>
  <div>
    <label for="userName">User Name:</label>
    <input id="userName" type="text" name="userName">
  </div>
  <div>
    <input type="submit">
  </div>
</form>
