<!DOCTYPE html>
<html>
<head>
  <title>XTask</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/cover.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="masthead clearfix">
        <div class="nav-wrapper">
          <!-- <h3 class="masthead-brand">XTask</h3> -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><h2>XTask</h2></a>
          </div>
           <div id="navbar" class="navbar-collapse collapse">
            <% unless signed_in? %>
              <form action="/signin" method="post" class="navbar-form navbar-right" role="form">
                <div class="form-group">
                  <input name="username" type="text" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                  <input name="password" type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>
            <% else %>
              <form action="/signout" method="get" class="navbar-form navbar right" role="form">
                 <button type="submit" class="btn btn-success">Sign Out</button>
              </form>
            <% end %>
          </div><!--/.navbar-collapse -->
        </div>
      </div>

     <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Plan Your Day.</h1>
            <p class="lead">XTask provides a simpler way to schedule your busy life.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>
            <div class="col-md-3">
            </div>
          <form action="/signup" method="post" class="task_form col-md-6">
            <h3>Sign Up</h3>
            <div>
              <input id="username" type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div>
              <input id="password" type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div>
              <input id="checkpassword" type="password" name="checkpassword" class="form-control" placeholder="Confirm Password">
            </div>
              <div class="col-md-2">
              </div>
            <div class="col-md-4">
              <input type="submit" value="Sign Up" class="submit_button form-control">
            </div>
            <div class="col-md-4">  
              <input type="reset" value="Clear" class="submit_button form-control">
            </div>
              <div class="col-md-2">
              </div>
          </form>
            <div class="col-md-3">
            </div>
          <div class="mastfoot">
            <div class="inner">
              <p>XTask - Made by Krish and Connor</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
   
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
