.navbar-brand{
  color:white;
  margin-top:-25px;
}
.container {
  background-color:#444;
  height:100%;
  width:100%;
  color:white;
}
.masthead{
  background-color: black;
  width:100%;
  z-index: 1000;
}
.nav-wrapper{
  width:75%;
  margin:0 auto;
}
.schedule-p{
  color:#333;
}
.black {
  color: #333;
}
.submit_button{
  font-weight:600;
}
.task_form {
  margin-top: 16vh;
}
.task_form input {
  margin-top:7px;
}
.task-wrapper {
  position: absolute;
  top:8vh;
}
.task-constrictor {
  width: 75%;
  margin:0 auto;
}
.day_check {
  margin-top: 15px;
  font-size:1.2em;
  margin-bottom: 10px;
}
.day_check input {
  margin-left:15px;
  margin-right:2px;
}
.emp_space {
  margin-bottom:50px;
}
