.navbar-brand{
  color:white;
  margin-top:-25px;
}
.container {
  background-color:white;
  height:100%;
  width:100%;
  color:#333;
}
.masthead{
  background-color: black;
  width:100%;
}
.nav-wrapper{
  width:75%;
  margin:0 auto;
}
.schedule-p{
  color:#333;
}